<div class="container-fluid text-center">
    <h1>Welcome, <%= @user_name %></h1>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                Current chest armor:
            </div>
            <div class="col-sm">
                Armor info goes here
            </div>
        </div>
    </div>
</div>
